Repository EtnDiaz/integrator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

build_api_gateway:
  stage: build
  image: $GO_IMAGE
  script:
  - echo "Building API Gateway..."
  - go build -o api-gateway ./API\ Gateway
  dependencies:
  - check_changes

build_deployment_service:
  stage: build
  image: $GO_IMAGE
  script:
  - echo "Building Deployment Service..."
  - go build -o deployment-service ./Deployment\ Service
  dependencies:
  - check_changes

build_integration_manager:
  stage: build
  image: $GO_IMAGE
  script:
  - echo "Building Integration Manager..."
  - go build -o integration-manager ./Integration\ Manager
  dependencies:
  - check_changes

build_template_service:
  stage: build
  image: $GO_IMAGE
  script:
  - echo "Building Template Service..."
  - go build -o template-service ./Template\ Service
  dependencies:
  - check_changes

fix docker
  API Gateway/Dockerfile
  Deployment Service/Dockerfile
  Integration Manager/Dockerfile
  Template Service/Dockerfile
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix docker 2
  .gitlab-ci.yml
  API Gateway/Dockerfile
  Deployment Service/Dockerfile
  Integration Manager/Dockerfile
  Template Service/Dockerfile
  shared/Dockerfile
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

API Gateway fix
  .gitlab-ci.yml
  API Gateway/main.go
Due: build_api_gateway

Refactor
  .gitlab-ci.yml
  api-gateway/controllers/health_controller.go
  api-gateway/controllers/integration_controller.go
  api-gateway/main.go
  api-gateway/routes/routes.go
  deployment-service/controllers/deployment_controller.go
  deployment-service/controllers/health_controller.go
  deployment-service/main.go
  deployment-service/routes/routes.go
  integration-manager/controllers/deployment_controller.go
  integration-manager/controllers/health_controller.go
  integration-manager/controllers/integration_controller.go
  integration-manager/main.go
  integration-manager/routes/routes.go
  integration-manager/services/integration_service.go
  template-service/controllers/deployment_controller.go
  template-service/controllers/health_controller.go
  template-service/controllers/integration_controller.go
  template-service/controllers/template_controller.go
  template-service/main.go
  template-service/routes/routes.go
  template-service/services/integration_service.go
  template-service/services/template_service.go
  template-service/services/version_control_service.go
Due: none

fix ci 3
  .gitlab-ci.yml
  deployment-service/controllers/deployment_controller.go
Due: none

fix utils api-gateway
  api-gateway/controllers/integration_controller.go
  deployment-service/controllers/deployment_controller.go
  integration-manager/controllers/integration_controller.go
Due: none

fix ci 3
  .gitlab-ci.yml
Due: none

fix routes api-gateway
  api-gateway/routes/routes.go
Due: none

11
  api-gateway/routes/routes.go
Due: none

fix auth
  .gitlab-ci.yml
  shared/Dockerfile
  shared/middlewares/auth.go
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix shared/middlewares
  shared/Dockerfile
  shared/middlewares/auth.go
  shared/utils/error_handling.go
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix auth
  .gitlab-ci.yml
  api-gateway/go.mod
  deployment-service/go.mod
  integration-manager/go.mod
  shared/Dockerfile
  shared/go.mod
  template-service/go.mod
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix logging
  .gitlab-ci.yml
  api-gateway/routes/routes.go
  shared/middlewares/logging.go
Due: none

fix logging
  shared/middlewares/logging.go
Due: none

fix api-gateway
  api-gateway/routes/routes.go
  shared/Dockerfile
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix api-gateway
  api-gateway/controllers/integration_controller.go
  api-gateway/go.mod
  api-gateway/main.go
  api-gateway/routes/routes.go
  deployment-service/controllers/deployment_controller.go
  deployment-service/go.mod
  deployment-service/main.go
  deployment-service/routes/routes.go
  integration-manager/controllers/deployment_controller.go
  integration-manager/controllers/integration_controller.go
  integration-manager/go.mod
  integration-manager/main.go
  integration-manager/routes/routes.go
  shared/go.mod
  shared/services/version_control_service.go
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix logging path
  shared/utils/logging.go
Due: none

fix routes
  api-gateway/routes/routes.go
  shared/middlewares/auth.go
Due: none

fix shared
  .gitlab-ci.yml
  shared/Dockerfile
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix go.mod
  shared/utils/go.mod
Due: none

fix go mod
  allowed_signers
  shared/config/go.mod
  shared/middlewares/go.mod
  shared/services/go.mod
Due: none

modified: shared/Dockerfile
  shared/Dockerfile
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

fix go.sum
  shared/Dockerfile
Due: build_api_gateway, build_deployment_service, build_integration_manager, build_template_service

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix go mod
  go.mod
Due: none

fix go mod
  cmd/api-gateway/main.go
  go.sum
  internal/api-gateway/go.mod
  internal/api-gateway/go.sum
  internal/deployment-service/go.mod
  internal/deployment-service/go.sum
  internal/integration-manager/go.mod
  internal/template-service/go.mod
  internal/template-service/go.sum
  pkg/shared/config/go.mod
  pkg/shared/config/go.sum
  pkg/shared/middlewares/go.mod
  pkg/shared/middlewares/go.sum
  pkg/shared/services/go.mod
  pkg/shared/utils/go.mod
  regenerate_go_mods.sh
Due: none

fix go
  .idea/.gitignore
  .idea/integrator.iml
  .idea/modules.xml
  .idea/vcs.xml
  cmd/api-gateway/main.go
  cmd/deployment-service/main.go
  cmd/integration-manager/main.go
  cmd/template-service/main.go
  go.mod
  go.sum
  internal/api-gateway/controllers/integration_controller.go
  internal/api-gateway/go.mod
  internal/api-gateway/go.sum
  internal/api-gateway/routes/routes.go
  internal/deployment-service/controllers/deployment_controller.go
  internal/deployment-service/go.mod
  internal/deployment-service/go.sum
  internal/deployment-service/routes/routes.go
  internal/integration-manager/controllers/deployment_controller.go
  internal/integration-manager/controllers/integration_controller.go
  internal/integration-manager/go.mod
  internal/integration-manager/routes/routes.go
  internal/template-service/go.mod
  internal/template-service/go.sum
  pkg/shared/config/go.mod
  pkg/shared/config/go.sum
  pkg/shared/go.mod
  pkg/shared/middlewares/auth.go
  pkg/shared/middlewares/go.mod
  pkg/shared/middlewares/go.sum
  pkg/shared/services/go.mod
  pkg/shared/utils/go.mod
  pkg/shared/utils/logging.go
  regenerate_go_mods.sh
Due: none

tempfix
  internal/integration-manager/routes/routes.go
  internal/template-service/routes/routes.go
  pkg/shared/middlewares/LoggingMiddleware.go
Due: none

rm unsed controllers
  internal/integration-manager/controllers/deployment_controller.go
  internal/template-service/controllers/deployment_controller.go
  internal/template-service/controllers/integration_controller.go
Due: none

fix all
  cmd/api-gateway/main.go
  cmd/deployment-service/main.go
  cmd/integration-manager/main.go
  cmd/template-service/main.go
  internal/api-gateway/routes/routes.go
  internal/deployment-service/routes/routes.go
  internal/integration-manager/controllers/integration_controller.go
  internal/integration-manager/routes/routes.go
  internal/services/integration_service.go
  internal/services/template_service.go
  internal/services/version_control_service.go
  internal/template-service/controllers/template_controller.go
  internal/template-service/routes/routes.go
  pkg/shared/middlewares/LoggingMiddleware.go
  pkg/shared/middlewares/logging.go
  pkg/shared/services/services/integration_service.go
  pkg/shared/utils/response.go
Due: none

update dockerfile
  pkg/shared/Dockerfile
Due: none

fix build args
  .gitlab-ci.yml
Due: none

fix dockerfile
  .gitignore
  .idea/.gitignore
  .idea/integrator.iml
  .idea/modules.xml
  .idea/vcs.xml
  pkg/shared/Dockerfile
  regenerate_go_mods.sh
Due: none

Path conditions:
  build_api_gateway: any of: API Gateway/**, shared/**
  build_deployment_service: any of: Deployment Service/**, shared/**
  build_integration_manager: any of: Integration Manager/**, shared/**
  build_template_service: any of: Template Service/**, shared/**
